<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Test</h1>
    <form method="POST" action="/testing">
        <label>AirlineID</label><br>
        <input type="text" name="airlineID"><br><br>
        <label>tailnum</label><br>
        <input type="text" name="tailnum"><br><br>
        <label>seatcap</label><br>
        <input type="text" name="seatcap"><br><br>
        <label>speed</label><br>
        <input type="text" name="speed"><br><br>
        <label>locID</label><br>
        <input type="text" name="locID"><br><br>
        <label>Plane type</label><br>
        <input type="text" name="type"><br><br>
        <label>maintained</label><br>
        <input type="text" name="maintained"><br><br>
        <label>Model</label><br>
        <input type="text" name="model"><br><br>
        <label>neo</label><br>
        <input type="text" name="neo"><br><br>

        <input type="submit" value="Submit">
    </form>
    <h1>result {{ reason }} </h1>
    <form method = "POST" action = "/choose-table">
        <input type = "text" name = "tablename">
        <label>choose table</label><br>
    </form>
    <form method = "POST" action = "/choose-table">
        <button type = "submit" name = "tablename" value = "flights_in_the_air">
            <label>flights_in_the_air view</label>
        </button>
        <button type = "submit" name = "tablename" value = "flights_on_the_ground">
            <label>flights_in_the_ground view</label>
        </button>
        <button type = "submit" name = "tablename" value = "people_in_the_air">
            <label>people_in_the_air view</label>
        </button>
        <button type = "submit" name = "tablename" value = "people_on_the_ground">
            <label>people_on_the_ground view</label>
        </button>
        <button type = "submit" name = "tablename" value = "route_summary">
            <label>route_summary view</label>
        </button>
        <button type = "submit" name = "tablename" value = "alternative_airports">
            <label>alternative_airports view</label>
        </button>
    </form>
    <h1>display</h1>
    <ul>
    {% for item in table %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
</body>
</html>